*{
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

#layout {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-y: hidden;
}

#toolbar {
    width: 100%;
    height: 2.5em;
    background-color: #222;
    color: #efefef;
    font-family: "Monospace";
}

#toolbar a, a:hover {
    color: #efefef;
}

#toolbar ul, li, h1 {
    display: inline;
}

#content-wrapper {
    position:absolute;
    top: 2.5em;
    bottom: 0px;
    width: 100%;
}

#content {
    width: 100%;
    height: 100%;
}
